@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


img {
 width: 40px;
 padding-top: 10px 30px 14px;
 color: rgb(37, 37, 151);
 
}

a{
    text-decoration: none;
}
h1{
    font-size: 40px;
    padding: 8px 0;
}

p{
    color:  rgb(37, 37, 151);
}
.nav__row {
    display: flex;
    justify-content: space-between;
}

  
.nav__row--logo {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: rgb(37, 37, 151);
}
   
ul{
    display: flex;

}

li {
    list-style: none;
    padding-right: 25px;
}

.purple{
    color: blueviolet;
}
.nav__links{
    display:flex;
    align-items: center;
}
.nav__link{
    display: flex;
    align-items: flex-end;
    color: rgb(37, 37, 151);
    font-size: 16px;
    font-weight: bold;
}

.btn__menu{
    background-color: rgb(112, 112, 206);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: all 300ms ease;
    }

.btn__menu:hover{
     background-color: rgb(168, 168, 203);
}

/*Header*/

.header__container{
    display: flex;
    justify-content: space-around;
    
}
.header__description {
    padding: 24px 10px 10px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__description--para{
    margin-bottom: 30px;
    font-size: 14px;
}

.header__description--btn{
    border: 1px solid rgb(168, 168, 203);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding:4px;
    margin-bottom: 100px;
}  
.para__font{
color: rgb(190, 190, 218);
padding: 0 0 0 24px;

}

.header__description--logo{
    color: rgb(190, 190, 218);
    font-size: 12px;
    font-weight: bold;
    
}

.header__description--strip{
    width: 400px;
    padding-top: 6px;
}

.para__font--img{
    color: rgb(190, 190, 218);
}

.header__description--img {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 10px;
    ;
}